body {
    background-color: azure;
    opacity: 1;
}
/*tekst over mezelf*/
h3 {
    color: aliceblue;
}
ul {
    
    background-color:white;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

} /*tekst menu*/

ul li a:hover {
   background-color: darkturquoise;
}
ul li {
    float: left;

}
ul li a {
    display: block;
    color: darkblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;

}
ul li a.active {
    background-color: aliceblue;
}

p {
    color: darkblue;
    float: left;
    padding: 10px;
    margin: 10 px;
    border-style: double;
 
}
