body {
    background-color: lightblue; /*achtergrond kleur van de hele pagina*/
    opacity: 1; /*vervaging dus dit zorgt ervoor hoe zichtbaar iets is*/
    padding: 20px; /*ruimte binnen de rand van het element*/
    margin: 25px; /*ruimte buiten de rand van het element*/

}
/*opmaak tekst over mezelf*/
h3 {
    color: darkblue; /*tekstkleur*/
    font-weight: bold; /* Selecteer alle paragrafen en voeg marges toe */
    font-family: Arial, Helvetica, sans-serif; /*lettertype*/
}
/*opmaak titel*/
ul { 
    
    background-color:white;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: sticky; /*zorgt ervoor dat het menu aan de bovenkant blijft plakken*/
    top: 0; /*ziet er netter uit*/
   

} 
/*opmaak menu items naast elkaar zetten*/

ul li a:hover {
   background-color: cadetblue;
   color: white;
   text-decoration: underline;

}
/*opmaak klikken in menu*/
ul li {
    float: left;

}
/*opmaak klikken in menu*/
ul li a {
    display: block; /*gedraagt zich als een blok*/
    color: darkblue; /*tekstkleur*/
    text-align: left; /*tekst uitlijnen*/
    padding: 14px 16px;
    text-decoration: none; /*tekst decoratie*/

}
/*opmaak klikken in menu*/
ul li a.active {
    background-color: aliceblue; /*menu achtergrondkleur*/
}
/*opmaak hover menu*/
#p1 {
    color: darkblue;
    float: left; 
    padding: 20px; /*ruimte binnen de rand van het element*/
    margin: 15px; /*ruimte buiten de rand van het element*/
    border-style: double;
 
}
/*opmaak p1 */

h1 {
    padding: 10 px;
    margin: 10px;
    color: darkblue;
    
}
/*opmaak kopjes*/


/*opmaak tekst over het binaire stelsel*/

#p4 {
    padding: 20px;
    margin: 15px;
    color: darkblue;
    border-style: double;
    float: left; /*aan welke kant de tekst staat*/
    background-color: aliceblue;

}
/*tekst over de inhoud*/

#if1 {
   
    float: left; /*rechterkant van de pagina*/
} /*spelltje 1*/
#if2 {
  
    float: right; /*linkerkant van de pagina*/
} /*spelletje 2*/

#plaatje1 {
    float:left;
    padding: 15px;
    margin: 20px;
}
#plaatje2 {
    float: right;
    padding: 15px;
    margin: 20px;
}
footer { /*aan het einde bij bitmap en vector afbeeldingen*/
    background-color: blue;     /* achtergrond */
    color: white;                  /* witte tekst */
    text-align: center;            /* in het midden */
    padding: 5px 20px;           /* ruimte in het blok aan de boven/onderkant en de zijkanten */
    font-size: 14px;             /* tekstgrootte */
    margin-top: 0;            /* er moet geen ruimte zitten tussen de footer en de laatste afbeelding */
    position: relative;          /* relatieveren aan dezelfde plek als de rest van de tekst en plaatjes */
    width: auto; 
}