body {
    background-color: darkturquoise;
    opacity: 1;
}
/*tekst over mezelf*/
h3 {
    color: aliceblue;
}
ul {
    color: grey;
    background-color:white;
    opacity: 1;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
} /*tekst mnu*/
ul li a:hover {
    background-color:blanchedalmond;
}